Package: htvl-compiler
Version: 0.1.0
Architecture: amd64
Maintainer: Nicolus Rotich <moinonin@yahoo.co.uk>
Installed-Size: 23
Section: devel
Priority: optional
Multi-Arch: foreign
Homepage: <https://nkrtech.com>
Description: The package HTVL scripts to HTML
