Source: fcss-cdn
Section: devel
Priority: optional
Maintainer: Nicolus Rotich <moinonin@yahoo.co.uk>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: <https://nkrtech.com>


Package: fcss-cdn
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: The package converts bootstrap elements to functions
 The functions are then easily called to convert them to HTVL
 file which is a shell script. Running this file builds HTML pages.
