Source: htvl-compiler
Section: devel
Priority: optional
Maintainer: Nicolus Rotich <moinonin@yahoo.co.uk>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: <https://nkrtech.com>


Package: htvl-compiler
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: The package HTVL scripts to HTML
